<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil BankApp</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
<div x-data="clientsData()" x-init="init()">
    <h1>Les clients</h1>

    <div x-show="loading">
        Chargement...
    </div>
    <div
        x-show="error"
        x-text="error"
        style="color: red;"
    >
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Comptes</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="(client, index) in clients" :key="client.id">
            <tr>
                <th scope="row" x-text="index + 1"></th>
                <td x-text="client.firstName"></td>
                <td x-text="client.lastName"></td>
                <td>
                    <a :href="`/clients/${client.id}`" class="btn btn-primary btn-sm">Voir les comptes</a>
                </td>
            </tr>
        </template>
        </tbody>
    </table>

    <a href="/stocks" class="btn btn-success mb-3">Voir les cours de la bourse</a>


    <script src="/js/app.js"></script>
</div>
</body>
</html>
